# Streamlit secrets local (NAO fazer commit)
# Cole aqui suas credenciais reais para testar localmente
SUPABASE_URL = "https://iwwttnusktosuaaiusoh.supabase.co"
SUPABASE_KEY = "COLE_AQUI_A_SUA_CHAVE_ANON_PUBLIC"
NOME_BUCKET = "arquivo-usuários"
